*{
    padding: 0%;
    margin: 0px;
    font-size: 16px;
    object-fit: cover;
    box-sizing: border-box;
    font-family:'Poppins';
}
a{
    text-decoration: none;
}

/* ------nav ------- */

@media (min-width:992px) {
    #innerul{
        width: 600px; display: flex; justify-content: space-around ;align-items: center;
    }    
}
@media (min-width:1200px) {
    #innerul{
        width: 700px;
    }    
}
#black{
    color:#336061;
}


/* ------nav-------- */
.navv{
    position: sticky;
    top: 0;
    z-index: 500;
    height: 70px;
    background-color: white;
}

@media (min-width:768px) {
    .navv{
  
        height: 100px;
    
    }
}


#ti {
    transform: translate3d(-70px, 30px, 0px) !important ;
}
@media (max-width:991px) {
    #tii {
        transform: translate3d(0px, 0px, 0px) !important ;
    }
    #imgcollection{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}
@media (min-width:768px) {
    #tii {
        transform: translate3d(-400px, 20px, 0px) !important ;
        position: absolute;
    }
    
}

/* -----------catories---------- */
#Categoriesbox{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
@media (min-width:768px) {
    #Categoriesbox{
        height: 65px;
        width: 65px;
    }
}
@media (min-width:768px) {
    #Categoriesbox{
        height: 120px;
        width: 120px;
    }
}
/* ----------------------------- */

/* -----shop by gender--- */
#genderfont{
    font-size: 11px;
    padding: 0px;
    display: flex;
    color: black;
    justify-content: space-evenly;
}
@media (min-width:768px) {
    #genderfont{
        font-size: 17px;
    }
}
@media (min-width:992px) {
    #genderfont{
        font-size: 20px;
    }
}
@media  (min-width:320px) {
    #boxtab{
        height: 120px;width:142px; border-radius: 10px;
    }
    
}
@media  (min-width:768px) {
    #boxtab{
        height:200px;width:168px; border-radius: 10px;
    }
    
}
/* ---------------------- */

/* -----promise------------ */

@media (min-width:320px) {
    .tabletcarousel{
        display: none;
    }
    #caro-promise{
        height: 320px;
    }
    .desktoppro{
        display: none;
    }
}

@media (min-width:768px) {
   
    .mobcarosuel{
        display: none;
    }
    .tabletcarousel
    {
        display: grid;
    }
    #caro-promise{
        height: 320px;
    }
    .desktoppro{
        display: none;
    }
    
}
@media (min-width:992px) {
    .tabletcarousel
    {
        display: none;
    }
    .desktoppro{
        display: flex;
    }
    .mobcarosuel{
        display: none;
    }
}
/* ------------------------ */



/* -----------------dropdown---------------- */
.dropdown-menu{
    border-radius:0;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 25);
    list-style: none;
    padding: .5em;
}

.dropdown-menu ul{
    list-style: none;
    padding: 0;
}
.dropdown-menu.show{
    display: flex
}
.dropdown-menu li a{
    color: gray;
    padding: .5em lem;
}
/* .dropdown-menu li:first-child a{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
} */

@media  (min-width:992px){
    .dropdown:hover .dropdown-menu{
        display: flex;
    }
    .dropdown-menu.show{
        display: flex;
    }
}
@media (max-width:991px) {
    .dropdown-menu.show{
        display: block;
        color: black;
        /* height: 100px; */
        /* overflow-y: scroll; */
    } 
    #ti{
        transform: translate3d(0px, 10px, 0px) !important ;
    }
}



/* -- */

@media (min-width:1024px) {
    #carofirst{
        height: 1000px;
        width: 100%;
        background-position: center;
        object-fit: cover;
    }
}

